<div class="h-screen flex flex-col m-4">
  <div class="flex flex-1">
    <div class="flex-1 grid grid-cols-7 grid-rows-6">
      <ng-container *ngFor="let rows of month; let i = index">
        <ng-container *ngFor="let days of rows">
          <div (click)="onClickDate(days)" class="border border-gray-200 flex flex-col items-center">
            <p *ngIf="i === 0" class="text-sm mt-1 font-semibold text-gray-500">
              {{ days | date : "ccc" | uppercase }}
            </p>

            <p
              [ngClass]="[
                isCurrentDate(days)
                  ? 'bg-blue-600 text-white rounded-full w-7 hover:bg-blue-800'
                  : '',
                !isSameMonth(days) ? 'text-gray-500' : '',
                isFirstDayOfMonth(days) ? 'hover:w-10 hover:p-2' : ''
              ]"
              class="text-sm my-1 text-center hover:bg-gray-300 hover:w-7 p-1 rounded-full cursor-pointer"
            >
              {{
                isFirstDayOfMonth(days)
                  ? (days | date : "MMM d")
                  : (days | date : "d")
              }}
            </p>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
